.search__container {
  padding: 1rem;

  .search {
    position: relative;
  }

  .search__input {
    @include size(100%, 30px);
    border-radius: 15px;
    border: solid 1px $color_gray_1;
    background-color: $color_white;
    padding: 0 30px 0 10px;
  }

  .search__icon {
    @include size(18px);
    @include flexCenter;
    @include position(absolute, 50%, 10px, '', '');
    @include transform(translateY(-50%));
    cursor: pointer;
  }
}
